---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- BEGIN container -->
	<div class="team">
		<div class="group js-group js-circle" data-group="general-manager">
			<p class="group__text">
				General
			</p>
		</div>
		<!-- BEGIN member -->
		<div class="member js-circle js-general-manager">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/mewtwo.jpg" alt="member">
			</div>
			<p class="member__name js-text">
				Luis Lizán
			</p>
		</div>
		<!-- END member -->
		<div class="group js-group js-circle" data-group="group1">
			<p class="group__text">
				Group1
			</p>
		</div>
		<!-- BEGIN member -->
		<div class="member js-circle js-group1">
			<div class="member__circle member__circle_middle js-image">
			  <img class="member__image" src="../img/nidoran.png" alt="member">
			</div>
			<p class="member__name js-text">
				Verónica García
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group1">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/nidoran.png" alt="member">
			</div>
			<p class="member__name js-text">
				María Moliner
			</p>
		</div>
		<!-- END member -->
		<div class="group js-group js-circle" data-group="group2">
			<p class="group__text">
				Group2
			</p>
		</div>
		<!-- BEGIN member -->
		<div class="member js-circle js-group2">
			<div class="member__circle member__circle_middle js-image">
			  <img class="member__image" src="../img/pika.png" alt="member">
			</div>
			<p class="member__name js-text">
				Cristina Vila
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group2">
			<div class="member__circle member__circle_small js-image">
			  <img class="member__image" src="../img/pika.png" alt="member">
			</div>
			<p class="member__name js-text">
				Sergio Gimeno
			</p>
		</div>
		<!-- END member -->
		<div class="group js-group js-circle" data-group="group3">
			<p class="group__text">
				Group3
			</p>
		</div>
		<!-- BEGIN member -->
		<div class="member js-circle js-group3">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/un.png" alt="member">
			</div>
			<p class="member__name js-text">
				Miriam Prades
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group3">
			<div class="member__circle member__circle_middle js-image">
			  <img class="member__image" src="../img/un.png" alt="member">
			</div>
			<p class="member__name js-text">
				María	Soler
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group3">
			<div class="member__circle member__circle_small js-image">
			  <img class="member__image" src="../img/un.png" alt="member">
			</div>
			<p class="member__name js-text">
				Carla	Gari
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group3">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/un.png" alt="member">
			</div>
			<p class="member__name js-text">
				Belén Citoler
			</p>
		</div>
		<!-- END member -->
		<div class="group js-group js-circle" data-group="group4">
			<p class="group__text">
				Group4
			</p>
		</div>
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_middle js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Clara	Gabás
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_small js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Marta Comellas
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Héctor De Paz
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_small js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Francisco	Pérez
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_middle js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Lucía	Pérez
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Laura	Benedito
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Elena	Viciano
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_small js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Lucía	Parra
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_small js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Silvia Ortega
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_small js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Pedro	Salmerón
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_middle js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Sandra Herraiz
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Sonia	Membrado
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Ana	Causanilles
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_middle js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Suellyn	Valdirene
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group4">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/crab.png" alt="member">
			</div>
			<p class="member__name js-text">
				Laura	Salazar
			</p>
		</div>
		<!-- END member -->
		<div class="group js-group js-circle" data-group="group5">
			<p class="group__text">
				Group5
			</p>
		</div>
		<!-- BEGIN member -->
		<div class="member js-circle js-group5">
			<div class="member__circle member__circle_middle js-image">
			  <img class="member__image" src="../img/gengar.png" alt="member">
			</div>
			<p class="member__name js-text">
				Susana Aceituno
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group5">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/gengar.png" alt="member">
			</div>
			<p class="member__name js-text">
				Neus Vidal
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group5">
			<div class="member__circle member__circle_small js-image">
			  <img class="member__image" src="../img/gengar.png" alt="member">
			</div>
			<p class="member__name js-text">
				Alba Bellmunt
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group5">
			<div class="member__circle member__circle_middle js-image">
			  <img class="member__image" src="../img/gengar.png" alt="member">
			</div>
			<p class="member__name js-text">
				Ana	Calvo
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group5">
			<div class="member__circle member__circle_small js-image">
			  <img class="member__image" src="../img/gengar.png" alt="member">
			</div>
			<p class="member__name js-text">
				Pablo	Bretos
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle js-group5">
			<div class="member__circle member__circle_big js-image">
			  <img class="member__image" src="../img/gengar.png" alt="member">
			</div>
			<p class="member__name js-text">
				Asis Ariznavarreta
			</p>
		</div>
		<!-- END member -->
	</div>
	<!-- END container -->
{% endblock %}