---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- BEGIN container -->
	<div class="team">
		<div class="group js-group js-circle" data-group="pokemon">
			<p class="group__text">
				Pokemon
			</p>
		</div>
		<!-- BEGIN member -->
		<div class="member js-circle js-pokemon">
			<div class="member__circle member__circle_big">
			  <img class="member__image" src="../img/mewtwo.jpg" alt="member">
			</div>
			<p class="member__name">
				Emilia Clarke
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle">
			<div class="member__circle member__circle_big">
			  <img class="member__image" src="../img/mewtwo.jpg" alt="member">
			</div>
			<p class="member__name">
				Emilia Clarke
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle">
			<div class="member__circle member__circle_big">
			  <img class="member__image" src="../img/mewtwo.jpg" alt="member">
			</div>
			<p class="member__name">
				Emilia Clarke
			</p>
		</div>
		<!-- END member -->
		<!-- BEGIN member -->
		<div class="member js-circle">
			<div class="member__circle member__circle_big">
			  <img class="member__image" src="../img/mewtwo.jpg" alt="member">
			</div>
			<p class="member__name">
				Emilia Clarke
			</p>
		</div>
		<!-- END member -->
	</div>
	<!-- END container -->
{% endblock %}